<p>Вы запросилии восстановление пароля на внутреннем портале</p>
<p>Перейдите на портал, для того чтобы создать новый пароль</p>
<a href=<%= "#{ENV.fetch('BASE_URL')}/auth/new-password/#{@token}" %>>
  <button>
    Перейти
  </button>
</a>
