<p>Здравствуйте, <%= @user.first_and_middle_names %>!</p>

<p>
  <%= @birthday_man.last_and_first_names %> скоро будет отмечать день рождения!
  Ваши коллеги уже создали чат в Telegram для выбора подарка.
  Чтобы вступить в группу, нажмите на ссылку: <%= link_to @link, @link %>
</p>

<p>
  Узнавайте о новых чатах с коллегами еще быстрее —
  для этого воспользуйтесь ботом внутреннего портала в Telegram.
  Чтобы подключить его, выполните эти два шага:
</p>

<ul>
  <li>
    На внутреннем портале нажмите на строку с вашим именем >
    Настройки >
    Имя пользователя в Telegram >
    Редактировать >
    Введите имя, которое вы указали в Telegram. Например: @ivan123 >
    Нажмите кнопку «Готово»
  </li>
  <li>
    В поисковой строке Telegram введите __deleted__ >
    Нажмите на строку: __deleted__ >
    Для начала работы нажмите /start
  </li>
</ul>

<p>Теперь, когда кто-то из ваших коллег создаст новый чат, бот пришлет вам сообщение</p>
