<div class="field-unit field-unit--string">
  <div class="field-unit__label">
    <label for="">
      Аватар
    </label>
  </div>
  <div class="field-unit__field">
    <% if page.resource.avatar.attached? %>
      <div style="width: 100px; height: 100px; border-radius: 50%; overflow: hidden">
        <img src="<%= blob_url_for(page.resource.avatar) %>" alt="" class="display: block; width: 100%">
      </div>
    <% else %>
      Отсутствует
    <% end %>
  </div>
</div>

<div class="field-unit field-unit--string">
  <div class="field-unit__label">
    <label for="">
      Загрузить аватар
    </label>
  </div>
  <div class="field-unit__field">
    <%= f.file_field :avatar %>
  </div>
</div>
